.app {
  .pages__container {
    width: 100%;
    height: 100%;
    position: relative;

    div[class*='__container'] {
      width: 100%;
      height: 100vh;

      .section__wrapper {
        width: 100%;
        height: 100%;
        perspective: 20rem;
        margin-bottom: 3rem;

        section[class*='__section'] {
          width: 100%;
          height: 100%;
          background-color: #222;
          position: relative;
          left: 0;

          transform-origin: left;
          box-shadow: rgba($color: #000000, $alpha: 0.2) 0 60px 40px -7px;
          // -webkit-box-reflect: below 1px linear-gradient(transparent 50%, #0002);
          // padding: 5rem 0;
          transition: left $transition-default, transform $transition-default,
            margin-bottom $transition-default;
          will-change: auto;
          &.active {
            left: var(--width-nav);
            transform: rotateY(10deg);
          }
        }
      }
    }
  }
}
