.header {
  .nav__content {
    background-color: #181818;
    height: 100vh;
    position: fixed;
    width: var(--width-nav);
    top: 0;
    left: calc(var(--width-nav) * -1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    z-index: $z-index-high;
    transition: left $transition-default;
    box-shadow: rgba($color: #000000, $alpha: 0.2) 0px 60px 40px -7px;
    will-change: left;
    &.active {
      left: 0;
      .nav__menu {
        left: calc(var(--width-nav) + 0.5vw);
      }
    }

    .nav__menu {
      cursor: pointer;
      color: white;
      z-index: $z-index-priority;
      position: fixed;
      width: 1.5rem;
      height: 1.5rem;
      top: 0.5rem;
      left: 0.5rem;
      transition: $transition-default;
    }

    .nav__link {
      text-transform: capitalize;
      font-size: 1.1rem;
      font-weight: 400;
      color: white;
    }
  }
}
