.home__container {
  scroll-snap-type: y mandatory;
  overflow-y: auto;
  .section__wrapper {
    scroll-snap-align: start;

    .home__section {
      width: 100%;
      height: 100%;
      overflow: hidden;
      .video {
        width: 100%;
        height: 100%;
        user-select: none;
        pointer-events: none;
      }
      @media (min-aspect-ratio: 16/9) {
        .video {
          width: 100%;
          height: auto;
        }
      }
      @media (max-aspect-ratio: 16/9) {
        .video {
          width: auto;
          height: 100%;
        }
      }
    }
  }
}
