$z-index-normal: 0;
$z-index-lower: $z-index-normal - 1;
$z-index-upper: $z-index-normal + 1;
$z-index-high: $z-index-upper + 1;
$z-index-modal: $z-index-high + 1;
$z-index-nav: $z-index-normal + 10;
$z-index-priority: $z-index-nav + 1;

// $width-nav: 70vw;

$transition-default: 0.5s;

$breakpoints: (
  360px: 90vw,
  768px: 70vw,
  1366px: 50vw,
  1920px: 30vw,
) !default;

:root {
  --primary-color: #1598ec;
  --secondary-color: #444;
  --third-color: #10639c;

  --width-nav: 100%;

  --box-shadow: 0 5px 15px rgba($color: #000, $alpha: 0.2);
}

@import './components/Layouts/index.scss';
@import './components/Navigation/index.scss';
@import './components/Home/index.scss';
@import './components/Chat/index.scss';

// @media screen and (min-width: 360px) {
//   :root {
//     --width-nav: 50vw;
//   }
// }
// @media screen and (min-width: 768px) {
//   :root {
//     --width-nav: 35vw;
//   }
// }
// @media screen and (min-width: 1366px) {
//   :root {
//     --width-nav: 30vw;
//   }
// }
// @media screen and (min-width: 1920px) {
//   :root {
//     --width-nav: 20vw;
//   }
// }
