@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 0px;
}
body {
  margin: 0;
  letter-spacing: 2px;
  background-color: #181818;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body #kommunicate-widget-iframe {
  z-index: 2;
  bottom: 0;
  right: 0;
}
ul {
  list-style: none;
}
a,
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
button {
  border: none;
  outline: none;
}
img {
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3 {
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
}
p,
span {
  color: rgba(255, 255, 255, 0.6);
}
